@model List<KeithMusicWebsiteCore.Models.News>

<link rel="stylesheet" href="~/css/news.css?v={random number/string}" type="text/css" />

<div id="future-news" class="news-container">
    <h2 class="news-headline">
        Musics To Be
    </h2>
    <div class="news-list-container">
        <ul id="future-news-list">
            @{
                bool futureShow = false;
                foreach (var news in Model)
                {
                    if (news.Date >= DateTime.Today)
                    {
                        futureShow = true;
                        <li>
                            <p>
                                When: &nbsp;<span class="red">@news.Date.ToString("dddd, MMMM d, yyyy, h:mm tt")</span>
                            </p>
                            <p>
                                Where: &nbsp;@news.Location
                            </p>
                            <p>
                                @news.Description
                            </p>
                            <div>
                                @Html.Raw(news.MiscHtml)
                            </div>
                        </li>
                    }
                }
                if (!futureShow)
                {
                    <li>
                        <p>Keith are no shows scheduled.</p>
                        <p>Please check again later.</p>
                    </li>

                }
            }
        </ul>


    </div>
</div>
<div id="past-news" class="news-container">
    <h2 class="news-headline">
        Musics Past
    </h2>
    <div class="news-list-container">
        <ul id="past-news-list">
            @{
                for (int i = Model.Count - 1; i >= 0; i--)  //use for loop to reverse order
                {
                    if (Model[i].Date < DateTime.Today)
                    {
                        <li>
                            <p>
                                When: &nbsp;<span class="red">@Model[i].Date.ToString("dddd, MMMM d, yyyy, h:mm tt")</span>
                            </p>
                            <p>
                                Where: &nbsp;@Model[i].Location
                            </p>
                            <p>
                                @Model[i].Description
                            </p>
                            <div>
                                @Html.Raw(Model[i].MiscHtml)
                            </div>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>

<script>
    page = "news";
</script>
